/* Reset default body and html margin and padding */
html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh; /* Ensure page fills full viewport height */
  display: flex;
  flex-direction: column;
}

.main-container {
  flex: 1; /* Allows main content to expand and footer to stay at bottom if content is short */
  display: flex;
  flex-direction: column;
}

/* Ensure no extra padding or margin after footer */
.cls-footer {
  margin: 0 auto;
  padding: 0; /* Remove extra padding */
  overflow: hidden;
  box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.2);
}
